.divAbout {
  /* border: 1px solid green; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 0;
  }
  
  .divContainer {
    /* border: 1px solid green; */
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 150px 0;
    border-radius: 20px;
  }
  
    .divContainer {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      animation-delay: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
      }
      @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
      } 
  
  .divImage {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    z-index: 111;
  }
  
  .divText {
    /* border: 1px solid yellow; */
    background-color: #ffffff2d;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 380px;
    color: rgb(203, 214, 221);
  }
  
  .aboutWall {
    background-image: url(../../assets/viewsWallPapers/fondo3.jpg),
      linear-gradient(100deg, #000000, #00000025);
    position: fixed;
    top: 0;
  
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;

    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.034), rgb(0, 0, 0));
  /* -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */

  
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.178);
    z-index: 0;
  }
  .aboutWall {
    /* -webkit-animation-name: fadeInRight; */
    animation-name: fadeInRight;
    /* -webkit-animation-duration: 1s; */
    animation-duration: 0.5s;
    /* -webkit-animation-fill-mode: both; */
    animation-fill-mode: both;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      /* -webkit-transform: translate3d(100%, 0, 0); */
      transform: translate3d(100%, 0, 0);
    }
    100% {
      opacity: 1;
      /* -webkit-transform: none; */
      transform: none;
    }
  }

  .logo {
    width: 380px;
    /* mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.034), rgb(0, 0, 0)); */
    border-radius: 20px;
    z-index: 111;
  }
  
  .titleLanding {
    z-index: 111;
    font-size: 50px;
  }
  .parrafo {
    width: 300px;
  }
  
  /* .link {
    background-color: aliceblue;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 30px;
    z-index: 111;
  } */
  
  .customLoader {
    width:50px;
    height:50px;
    border:2px solid #10F4E9;
    display: grid;
    animation: h1 4s infinite linear;
  }
  .customLoader::before,
  .customLoader::after {
    content: "";
    grid-area: 1/1;
    margin:auto;
    width:70.7%;
    height:70.7%; 
    border:2px solid #10F4E9;
    animation: inherit;
  }
  .customLoader::after {
    width:50%;
    height:50%;
    border:2px solid #10F4E9;
    animation-duration: 2s;
  }
  @keyframes h1{
    100% {transform:rotate(1turn)}
  }