.divCardsContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 920px;
    /* backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.103); */
    margin-top: 150px;
    border-radius: 20px;
    margin-bottom: 150px;

}


.divCardsContainer {

    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 2s;

    animation-fill-mode: both;
    }

    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 