.divForm {
  min-height: 100vh;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 0;
}
.divForm .titleForm {
  z-index: 111;
}

.formWall {
  background-image: url(../../assets/viewsWallPapers/fondo2.jpg),
    linear-gradient(100deg, #000000, #00000025);
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;

  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.034), rgb(0, 0, 0));
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.178);
  z-index: 0;
}

.formWall {
  /* -webkit-animation-name: fadeInRight; */
  animation-name: fadeInRight;
  /* -webkit-animation-duration: 1s; */
  animation-duration: 0.5s;
  /* -webkit-animation-fill-mode: both; */
  animation-fill-mode: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0); */
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    /* -webkit-transform: none; */
    /* transform: none; */
  }
}


.form {
  /* border: 1px solid green; */
  /* background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(20px); */
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 150px 0;
  padding: 15px;
  z-index: 111;
}

.form {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 




.form label {
  resize: none;
  text-align: start;
  /* border: 1px solid green; */
  font-size: 25px;
  margin: 10px 0;
  z-index: 111;
}
.form .divInputs {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 20px;
  background-color: #88888825;
  padding: 15px 20px;
    border-radius: 15px;
  /* border: 1px solid rgb(255, 187, 0); */

}

.form .divTextArea {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  background-color: #88888825;
  padding: 15px 20px;
    border-radius: 15px;
  /* border: 1px solid red; */
  /* backdrop-filter: blur(20px); */
  /* background-color: rgba(255, 255, 255, 0.082); */
  resize: none;
  width: 500px;
  text-align: start;
  
  
  font-size: 17px;
  z-index: 111;
}
.form textarea {
  background-color: #0c0c0c8c;
  resize: none;
  width: 100%;
  text-align: start;
  color: white;
  /* border: 1px solid green; */
  border: 0,3px solid white;
  font-size: 17px;
  z-index: 111;
}
.form .summarySuccess {
  
}
.form .summaryError {
  
}


.form input {

  z-index: 222;
  width: 100%;
  height: 25px;
  color: rgb(252, 252, 252);
  font-size: 18px;
  /* backdrop-filter: blur(20px); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #0c0c0c8c;
}

.form .divHealth {
  display: flex;
  justify-content: start;
  align-items: center;
}
.form .healthInput {
  width: 12%;
  margin-top: 5px;
  margin-left: 18px;
  backdrop-filter: blur(20px);
  background-color: #0c0c0c8c;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btnSubmit {
  z-index: 111;
  margin-right: 45%;
  margin: 30px;
  margin-right: 40%;
  cursor: pointer;
}

.btnDel {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
  border: 3px solid white;
  font-size: 20px;
  margin: 0 15px 0 0;
  padding: 5px 11px;
  cursor: pointer;
}
.btnAdd {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
  border: 3px solid white;
  font-size: 20px;
  margin: 0 10px 0 0;
  padding: 5px 8px;
  cursor: pointer;
}

.divLabelInstructions {
  /* border: 3px solid yellow; */
  display: flex;
  width: 100%;
}
.divLabelInstructions label {
  margin: 0 20px 0 0;
}

.divItemInstructions {
  /* border: 3px solid rebeccapurple; */
  display: flex;
  align-items: start;
  justify-content: center;

  width: 100%;
  margin: 10px 0;
}
.divItemInstructions label {
  /* border: 3px solid rebeccapurple; */
  padding: 0 10px;
  margin: 0;
}
.divItemInstructions label {
  /* border: 3px solid rebeccapurple; */
  padding: 0 10px;
  margin: 0;
}
.form .instructionText {
  background-color: #ff191900;
  font-size: 17px;
}


.divDiets {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  /* border: 2px solid orange; */
  border-radius: 15px;
  width: 80%;
  background-color: #88888825;
  z-index: 111;
}
.divItemDiet {
  /* border: 1px solid rgb(0, 110, 255); */
width: 100%;
display: flex;
align-items: center;
justify-content: end;

}
.form .labelDiet{
margin: 8px;
font-size: 15px;
}
.form .dietInput{
  width: 15%;
  padding: 0;
  margin-right: 25%;
  backdrop-filter: blur(0px);
  background-color: transparent;
  border-radius: 10px;
}


.customLoader {
  width:50px;
  height:50px;
  border:2px solid #10F4E9;
  display: grid;
  animation: h1 4s infinite linear;
}
.customLoader::before,
.customLoader::after {
  content: "";
  grid-area: 1/1;
  margin:auto;
  width:70.7%;
  height:70.7%; 
  border:2px solid #10F4E9;
  animation: inherit;
}
.customLoader::after {
  width:50%;
  height:50%;
  border:2px solid #10F4E9;
  animation-duration: 2s;
}
@keyframes h1{
  100% {transform:rotate(1turn)}
}


.divErrors {
border: 1px solid green;
background-color: #c0161073;
backdrop-filter: blur(20px);
border-radius: 15px;
width: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
padding: 5px;
}

.error{

}
.success {

}

.errorsParagraph {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid yellow;
  z-index:999;
  margin: 5px 0 0 10px;
}