.divForm {
  min-height: 100vh;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 0;
}
.divForm .titleForm {
  z-index: 111;
}

.formWall {
  background-image: url(../../assets/viewsWallPapers/fondo2.jpg),
    linear-gradient(100deg, #000000, #00000025);
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;

  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.034), rgb(0, 0, 0));
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.178);
  z-index: 0;
}

.formWall {
  /* -webkit-animation-name: fadeInRight; */
  animation-name: fadeInRight;
  /* -webkit-animation-duration: 1s; */
  animation-duration: 0.5s;
  /* -webkit-animation-fill-mode: both; */
  animation-fill-mode: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0); */
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    /* -webkit-transform: none; */
    /* transform: none; */
  }
}

.form {
  /* border: 1px solid green; */
  /* background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(20px); */
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 150px 0;
  padding: 15px;
  z-index: 111;
}

.form {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form label {
  resize: none;
  text-align: start;
  /* border: 1px solid green; */
  font-size: 20px;
  color: rgb(223, 191, 123);
  margin: 10px 0;
  z-index: 111;
}
.form .divInputs {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 20px;
  background-color: #ffffff18;
  padding: 15px 20px;
  border-radius: 15px;
  /* font-size: 10px; */
  /* border: 1px solid rgb(255, 187, 0); */
}

.form .divTextArea {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  background-color: #ffffff18;
  padding: 15px 20px;
  border-radius: 15px;
  /* border: 1px solid red; */
  /* backdrop-filter: blur(20px); */
  /* background-color: rgba(255, 255, 255, 0.082); */
  resize: none;
  width: 500px;
  text-align: start;

  font-size: 17px;
  z-index: 111;
}
.form textarea {
  background-color: #0c0c0ccb;
  resize: none;
  width: 100%;
  text-align: start;
  color: white;
  /* border: 1px solid green; */
  /* border: 0,3px solid white; */
  font-size: 15px;
  z-index: 111;
}
.form textarea:focus {
  background-color: rgb(0, 0, 0);
  outline: none;

  color: rgb(255, 255, 255);
}
.form textarea:-webkit-autofill,
.form textarea:-webkit-autofill:hover,
.form textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.479) inset !important;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.479) inset !important;
}

.form input {
  z-index: 222;
  width: 100%;
  height: 25px;
  color: rgb(252, 252, 252);
  font-size: 18px;
  /* backdrop-filter: blur(20px); */
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border: transparent;
  background-color: #0c0c0ccb;
}
.form .divInputs input:focus {
  background-color: rgb(0, 0, 0);
  outline: none;

  color: rgb(255, 255, 255);
}
.form .divInputs input:-webkit-autofill,
.form .divInputs input:-webkit-autofill:hover,
.form .divInputs input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.479) inset !important;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.479) inset !important;
}

.form .divHealth {
  display: flex;
  justify-content: start;
  align-items: center;
}
.form .divHealth input{
  background-color: #0c0c0ce1;
}

.btnSubmit {
  background-color: rgb(39, 40, 41);
  width: 100px;
  
  border-radius: 10px;
  border: transparent;
  
  padding: 10px 15px 10px 15px;

  color: rgb(223, 191, 123);
  font-size: 16px;
  margin-top: 50px;
  cursor: pointer;
transition: 0.3s;
  z-index: 999;
}
.btnSubmit:hover {
/* color: #10f4e988; */
-webkit-box-shadow:0px 0px 7px 0px rgba(28,176,132,0.9);
-moz-box-shadow: 0px 0px 7px 0px rgba(28,176,132,0.9);
box-shadow: 0px 0px 7px 0px rgba(28,176,132,0.9);
transform: scale(1.05);
}



.btnDel {

  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.404);
  color: rgb(223, 191, 123);
  border: 2px solid rgb(223, 191, 123);
  font-size: 20px;
  margin: 0 15px 0 0;
  padding: 0 6px 4px 5px;

  /* padding: 0px 11px; */
  cursor: pointer;
}
.btnDel:hover {
  color: white;
  border: px solid white;
}
.btnAdd {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.404);
  color: rgb(223, 191, 123);
  border: 2px solid rgb(223, 191, 123);
  font-size: 20px;

  margin: 0 15px 0 0;
  padding: 0 4px 0 4px;
  /* padding: 0px 11px; */
  cursor: pointer;
}
.btnAdd:hover {
  color: white;
  border: 2px solid white;
}

.divLabelInstructions {
  /* border: 3px solid yellow; */
  display: flex;
  width: 100%;
}
.divLabelInstructions label {
  margin: 0 20px 0 0;
}

.divItemInstructions {
  /* border: 3px solid rebeccapurple; */
  display: flex;
  align-items: start;
  justify-content: center;

  width: 100%;
  margin: 10px 0;
}
.divItemInstructions label {
  /* border: 3px solid rebeccapurple; */
  padding: 0 10px;
  margin: 0;
}
.divItemInstructions label {
  /* border: 3px solid rebeccapurple; */
  padding: 0 10px;
  margin: 0;
}
.form .instructionText {
  background-color: #ff191900;
  font-size: 17px;
}

.divDiets {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  /* border: 2px solid orange; */
  border-radius: 15px;
  width: 80%;
  background-color: #ffffff18;
  z-index: 111;
}
.divItemDiet {
  /* border: 1px solid rgb(0, 110, 255); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.form .labelDiet {
  margin: 8px;
  font-size: 15px;
}
.form .dietInput {
  width: 15%;
  padding: 0;
  margin-right: 25%;
  backdrop-filter: blur(0px);
  background-color: transparent;
  border-radius: 10px;
}

.customLoader {
  width: 50px;
  height: 50px;
  border: 2px solid #10f4e9;
  display: grid;
  animation: h1 4s infinite linear;
}
.customLoader::before,
.customLoader::after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  width: 70.7%;
  height: 70.7%;
  border: 2px solid #10f4e9;
  animation: inherit;
}
.customLoader::after {
  width: 50%;
  height: 50%;
  border: 2px solid #10f4e9;
  animation-duration: 2s;
}
@keyframes h1 {
  100% {
    transform: rotate(1turn);
  }
}

/* .divErrores {
border: 1px solid green;
background-color: #c0161073;
backdrop-filter: blur(20px);
border-radius: 15px;
width: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
padding: 5px;
}
.divErroresVacio {
  display: none;
} */

.divErrores {
  /* border: 1px solid wheat; */
  background-color: rgba(184, 51, 51, 0.659);
  /* border: 3px solid rgba(255, 0, 0, 0.479); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: fit-content;
  height: fit-content;

  margin-top: 30px;
  border-radius: 5px;
  padding: 10px 0;
}
.divErroresVacio {
  background-color: transparent;
  border: transparent;
  display: none;
}
.divErrores p {
  padding: 0px 10px 0px 10px;
}

.errorsParagraph {
  /* border: 1px solid magenta; */
  color: rgb(255, 255, 255);
  margin: 5px 20px 5px 20px;
}

.divInputs .success {
  border: 1px solid rgba(0, 128, 0, 0.452);
  font-size: 15px;
}
.divInputs .error {
  border: 1px solid rgba(255, 0, 0, 0.274);
  font-size: 15px;
}
.divInputs .successHealth {
  border: 1px solid rgba(0, 128, 0, 0.452);
  width: 12%;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 18px;
  backdrop-filter: blur(20px);
  background-color: #0c0c0c8c;
}
.divInputs .errorHealth {
  border: 1px solid rgba(255, 0, 0, 0.24);
  width: 12%;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 18px;
  backdrop-filter: blur(20px);
  background-color: #0c0c0c8c;
}
.textAreaSuccess {
  border: 1px solid rgba(0, 128, 0, 0.452);
}
.textAreaError {
  border: 1px solid rgba(255, 0, 0, 0.253);
}


