.container {
  /* border: 3px solid green; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.divDetail {
  /* border: 3px solid green; */
  position: relative;
  width: 1000px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 140px 0;
  padding: 30px;
  border-radius: 20px;
  z-index: 111;
  background-color: rgba(24, 134, 92, 0.219);
  /* backdrop-filter: blur(20px); */
}

.divDetail .divTop {
  /* border: 3px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.divDetail .divTop .image {
  margin: 0;
  /* border: 3px solid crimson; */
width: 50%;
border-radius: 15px;
}

.divDetail .divTopRight {
  /* border: 3px solid green; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 320px;
}

.divDetail .divTopRight .title {
  /* border: 3px solid green; */
  margin: 30px 15px 20px 15px;
  width: fit-content;
  max-height: 180px
  /* margin: 20px; */
}
.divDetail .divTopRight .healthscore {
  /* margin: 20px; */
  /* border: 1px solid cadetblue; */
  border-radius: 7px;
  background-color: #22839b;
  padding: 5px 15px;

  margin: 0 0 5px 0;
}


.divDetail .divDiets {
  /* border: 3px solid crimson; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 5px 0;
  max-width: 400px;
  max-height: 100px;
}
.divDetail .divDiets .diet {
  margin: 0;
}





.divDetail .divSummary {
  /* border: 3px solid crimson; */
  margin: 0;
  width: 850px;
  height: fit-content;
  margin: 30px 0;
  
}



.divDetail .divSummary  .summaryTitle{
  /* border: 3px solid crimson; */
  margin: 15px;
  
}
.divDetail .summary {
  /* border: 3px solid crimson; */
  margin: 0;
  
}

.divDetail .divInstructions{
  /* border: 3px solid crimson; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: start;
}
.divDetail .divInstructionsItem{
  /* border: 3px solid crimson; */
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 10px;
}
.divDetail .divInstructions .instructionNumber{
  /* border: 3px solid crimson; */
  font-size: 20px;
  margin: 0 15px;
  
}
.divDetail .divInstructions .instructionText{
  /* border: 3px solid crimson; */
  width: 850px;
  text-align: start;
  border-bottom: 1px solid white;
  margin: 0;
}

.button{
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.212);
  top:15px;
  right:15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(17, 199, 93, 0.247);
  backdrop-filter: blur(20px);

  cursor: pointer;
  font-size: 22px;
  padding: 0 0 2px 2px;
  z-index: 222;
  color: white;
}
.button:hover{
  background-color: rgba(26, 184, 91, 0.767);
}




.loading {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  z-index: 111;
}






.divDetail {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

  .customLoader {
    width:50px;
    height:50px;
    border:2px solid #10F4E9;
    display: grid;
    animation: h1 4s infinite linear;
  }
  .customLoader::before,
  .customLoader::after {
    content: "";
    grid-area: 1/1;
    margin:auto;
    width:70.7%;
    height:70.7%; 
    border:2px solid #10F4E9;
    animation: inherit;
  }
  .customLoader::after {
    width:50%;
    height:50%;
    border:2px solid #10F4E9;
    animation-duration: 2s;
  }
  @keyframes h1{
    100% {transform:rotate(1turn)}
  }


  .detailWall {
    background-image: url(../../assets/viewsWallPapers/fondo9.jpg),
      linear-gradient(100deg, #000000, #00000025);
    position: fixed;
    top: 0;
  
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
  
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.034), rgb(0, 0, 0));
  
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.178);
  }
  
  .detailWall {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: none;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }