.divFooter {
    /* border: 1px solid magenta; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 20px;

    position: absolute;
    bottom: 0;
    width: 30%;
    height: 70px;
    color: white;
    backdrop-filter: blur(20px);
    background-color: rgba(156, 151, 151, 0.014);
    z-index: 111;
}

.divNavBar {
    /* border: 1px solid fuchsia; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 70px;

    margin-top: 15px;

    backdrop-filter: blur(20px);
    background-color: rgba(156, 151, 151, 0.014);
    border-radius: 20px;
    position: absolute;

    z-index: 111;
}