.divHome {
  min-height: 100vh;

  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-bottom: 100px;
  z-index: 0;
}
.divHome .titleHome {
  margin-top: 150px;
  z-index: 111;
}

.divHome .divUpdate .updateTitle {
  display: flex;
  font-size: 10px;
  color: white;
z-index: 999;
}
.divHome .divUpdate .updateBtn {
  z-index: 999;
  color: white;
  cursor: pointer;

}
.homeWall {
  background-image: url(../../assets/viewsWallPapers/fondo1.jpg),
    linear-gradient(100deg, #000000, #00000025);
  position: fixed;
  top: 0;
z-index: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;

  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.034), rgb(0, 0, 0));

  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.178);
}

.homeWall {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.customLoader {
  width: 50px;
  height: 50px;
  border: 2px solid #10f4e9;
  margin-top: 250px;
  display: grid;
  animation: h1 4s infinite linear;
}
.customLoader::before,
.customLoader::after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  width: 70.7%;
  height: 70.7%;
  border: 2px solid #10f4e9;
  animation: inherit;
}
.customLoader::after {
  width: 50%;
  height: 50%;
  border: 2px solid #10f4e9;
  animation-duration: 2s;
}
@keyframes h1 {
  100% {
    transform: rotate(1turn);
  }
}

.divSelects {
  /* border: 1px solid yellow; */
  margin-top: 50px;
  margin-bottom: 0px;
  z-index: 999;
}

.divSelects .divSearch {
  /* border: 1px solid green; */
  margin-bottom: 10px;
}
.divSelects .searchBar {
  background-color: #3d3d3d52;
  color: wheat;;

  border: 1px solid rgba(255, 255, 255, 0.459);
  width: 180px;
  height: 17px;
  border-radius: 3px;
  margin-right: 10px;
}
.divSelects .btnSearch {
  background-color: #125c4cec;
  border: none;
  color: wheat;
  height: 23px;
  border-radius: 3px;
  cursor: pointer;
}
.divSelects .btnSearch:hover {
  background-color: #2c7263;
  color: rgb(240, 237, 231);

}
.divSelects .divSelect12 {
  /* border: 1px solid rebeccapurple; */
  margin-bottom: 2px;
}
.select1 {
  height: 21px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.452);
  background-color: #122020;
  color: rgb(70, 175, 117);
  margin:5px;
  -moz-appearance: none;
}

.divSelect12 .select2 {
  height: 21px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.452);
  background-color: #122020;
  color: rgb(70, 175, 117);
  margin:5px;
  -moz-appearance: none;
}
.divSelects .divSelect34 {
  /* border: 1px solid rebeccapurple; */
  margin-bottom: 8px;
}
.divSelects .select3 {
  height: 21px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.452);
  background-color: #122020;
  color: rgb(70, 175, 117);
  margin:5px;
  -moz-appearance: none;
}
.divSelects .select4 {
  height: 21px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.452);
  background-color: #122020;
  color: rgb(70, 175, 117);
  margin:5px;
  -moz-appearance: none;
}

.btnClean {
  height: 27px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.452);
  background-color: #193a38cc;
  color: rgb(248, 231, 194);
  /* -moz-appearance: none; */
}


.divLogo{
  border: 1px solid rgba(148, 148, 148, 0.616);
  position: absolute;
  top: 0;
  left: 0px;
  margin: 20px;
  padding:  5px 7px 7px 7px;
  border-radius: 2px;
}
.divLogo .logo {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;

}
.divLogo .logoTitle{
  /* border: 1px solid green; */
margin: 0;
font-size: 15px;
}
.divLogo .logoParrafo{
  /* border: 1px solid green; */
  margin: 0;
  font-size: 10px;
}

.divSelects {

  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1s;

  animation-fill-mode: both;
  }

  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

