.divPagination {
  background-color: rgba(19, 19, 19, 0.712);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 25px 0 0px 0;
  border-radius: 15px;
  /* border: 1px solid yellow; */
  height: 40px;
}
.divPagination {

  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1s;

  animation-fill-mode: both;
  }

  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  list-style: none;
  z-index: 999;
}

.items {
  width: fit-content;
  height: 23px;
  border: 1px solid rgb(216, 198, 158);
  margin: 5px;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
.items:hover {
  transform: scale(1.08);
}
.currentPage {
  border: 2px solid rgba(63, 202, 126, 0.562);
  margin: 0;
  padding: 0;
}

.items a {
  text-decoration: none;
  cursor: pointer;

  border-radius: 5px;
  padding: 5px 5px;
  color: rgb(223, 191, 123);
}
.items a:hover {
  transform: scale(1.02);
}
