.divNavBar {
    /* border: 1px solid fuchsia; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 70px;

    margin-top: 15px;

    backdrop-filter: blur(20px);
    background-color: rgba(156, 151, 151, 0.014);
    border-radius: 20px;
    position: absolute;

    z-index: 111;
}

.active {
    margin: 0 20px;
    color: rgb(77, 241, 151);
    border-bottom: 1px solid rgb(63, 202, 126);
    border-radius: 50px 0 10px -0px;
    padding: 0 3px 0 0;
    font-size: 25px;
    text-decoration: none;
    
}

.disable {
    margin: 0 20px;
    color: rgb(63, 202, 126);
    text-decoration: none;
    font-size: 25px;
}


.divNavBar {
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
        
    /* shorthand
    animation: fade-in 2s linear 0s 1 normal none;*/
}
@keyframes fade-in {
        
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}